body {color:#000000; background-color:#dddddd; font-size: medium; font-family: Quicksand, sans-serif;}
.active {font-style: italic;}
.icon-bar {background-color: #2980b9;}
a:link {color: #000000}
a:visited {color: #000000}
a:hover {color: #000000}
.form-control {background-color: #ffffee;}
pre.vt100 {background-color: black; color: #41FF00; border-radius: 10px;}

.top-buffer { margin-top: 35px; }
