<div class="row">
  <div class="col-md-6">
    <h2>Citation</h2>

    <p>
      Dalton Project: Providing Python access to simulations of mocur and
      electronic structures of complex systems
    </p>

    <p>
      Jógvan Magnus Haugaard Olsen,
      et al.
      <em>Journal of Chemical Physics, <b>152</b>, XXX (2020)</em>
    </p>

    <p>
      <a href="https://aip.scitation.org/toc/jcp/collection/10.1063/jcp.2020.ESS2020.issue-1?size=all">
        Special issue dedicated to Electronic Structure Software
      </a>
    </p>
  </div>

  <div class="col-md-6">
    <img class="img img-responsive" src="https://aip.scitation.org/na101/home/literatum/publisher/aip/journals/covergifs/jcp/cover.jpg">
  </div>
</div>
