<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="/img/favicon.ico">
  <title>Dalton Project</title>

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">

  <!-- our custom style -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
