
<div class="row top-buffer">
  <div class="col-md-12">
    <h1>Dalton Project</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img class="img-responsive" src="/img/interfaces.png">
  </div>

  <div class="col-md-6">
    <p>
      The Dalton Project provides a uniform platform access to the
      underlying Dalton and LSDalton software. It is written in Python and defines a
      means for software components to interact and for resulting data to be
      extracted, analyzed, and visualized. The platform is designed as to host
      additional future software libraries and program modules.
    </p>

    <hr>

    <h3>Current capabilities</h3>

    <ul>
      <li><a href="https://daltonprogram.org">Dalton/LSDalton</a></li>
    </ul>
  </div>
</div>
