<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

<script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.2/anchor.min.js"
        integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8="
        crossorigin="anonymous"></script>
<script>
  anchors.add();

  // https://github.com/twbs/bootstrap/issues/1768#issuecomment-6531466
  var shiftWindow = function() { scrollBy(0, -100) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);
</script>
