<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#foo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="/img/dp.png" width="25" height="25">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="foo">
      <ul class="nav navbar-nav">
        {% for item in site.data.navigation.main %}
          {% if item.url == page.url %}
            <li class="active">
          {% else %}
            <li>
          {% endif %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
